@import url("style.css");

.tile-block{
	width: 100%;
	background-color: #ffffff;
}

.tile-block-content{
	display: flex;
	flex-wrap: wrap;
}

.tile-block-elem{
	width: 228px;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 10px 20px 0 20px;
}

.tile-block-elem:hover{
	border: 2px solid #54be54;
	padding: 8px 18px 0 18px;
	height: auto;
}

.tile-block-elem .prod-img{
	position: relative;
}

.tile-block-elem img{
	bottom: 0;
	position: absolute;
}

.tile-block-elem .prod-el-buy{
	/*justify-content: center;
	align-items: center;
	display: flex;*/
}

.tile-block-elem .prod-el-buy img{
	color: #fff;
	position: relative;
}

.tile-block-elem ul{
	list-style-type: none;
	margin: 15px 0;
}

.tile-block-elem ul li{
	color: #7e7e7e;
	font-size: 15px;
}


.tile-block-elem select{
	color: #7e7e7e;
	font-size: 16px;
	height: 32px;
	width: 100%;
	outline: none;
	margin-bottom: 22px;
	-webkit-appearance: none;
  	-moz-appearance: none;
 	 appearance: none;
 	 background-image: url('../img/select-tr.png');
 	 background-repeat: no-repeat;
 	 background-position: 95% 50%;
 	 padding-left: 10px;
}


/*******************************/
@media only screen and (max-width: 698px){
	.tile-block-content{
		justify-content: center;
}






